# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
client/build/
server/dist/

# Environment variables
# .env
# server/.env
# client/.env

# JetBrains / IntelliJ
.idea/

# Other config or OS junk
.DS_Store
Thumbs.db

App.test.js
client/App.test.js